html {
  scroll-behavior: smooth;
}

body {
  background-image: url(./images2/home-background3.jpg);
  background-size: cover;
  background-position: unset;
}

#navbar_mobile {
  display: none;
  padding: 0;
}

#navbar_mobile ul {
  list-style: none;
  padding: 10px;
  font-family: cursive;
  font-size: small;

  /* display: none; */
}

#menu {
  background-image: url(./images2/icon_list2.jpg);
  background-size: cover;
  width: 30px;
  height: 30px;

  /* display: none; */
}

#menu {
  display: block;
}

#menu:hover + ul {
  display: flex;
}
/* #navbar_mobile:hover ul {
  display: flex;
} */

.floating_menu {
  border: 1px solid rgb(207, 203, 203);
  box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.543);
  position: absolute;
  top: 0;
  z-index: 1;
  width: 18%;
  height: 15%;
  transform: translateX(-130%);
  transition: all 1s linear;
}

#close-menu {
  position: absolute;
  right: 0;

  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

#close-menu:hover,
#close-menu:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

#close-menu:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

#close-menu:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

#navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 10px;
  padding: 10px;
}

#navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
  font-family: system-ui;
  margin-left: auto;
}

.active {
  background-color: rgba(59, 121, 172, 0.411);
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: white;
  text-decoration: underline;
  text-underline-offset: 1px;
}

h1 {
  font-size: 28px;
  font-weight: 500;
  font-family: cursive;
  letter-spacing: 0;
  line-height: 1.5em;
  padding-bottom: 15px;
  padding-top: 100px;
  position: relative;
}
h1:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 55px;
  background-color: #111;
}
h1:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  height: 1px;
  width: 95%;
  max-width: 255px;
  background-color: #333;
}

h2 {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  color: #202020;
  text-transform: uppercase;
  word-spacing: 1px;
  letter-spacing: 2px;
}
.h2 span {
  margin-top: 40px;
  text-transform: none;
  font-size: 0.75em;
  font-weight: normal;
  font-style: italic;
  font-family: "Playfair Display", "Bookman", serif;
  color: #999;
  letter-spacing: -0.005em;
  word-spacing: 1px;
  letter-spacing: none;
}
h2:before {
  position: absolute;
  left: 0;
  bottom: 38px;
  width: 60px;
  height: 4px;
  content: "";
  left: 50%;
  margin-left: -30px;
  background-color: #dfdfdf;
}

div {
  border: 3px solid rgb(20, 84, 79);
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.596);
  border-radius: 10px;
  text-align: center;
  /* padding: 15px; */
  font-family: cursive;
  font-size: medium;
  /* margin: auto; */

  border: 3px solid rgb(20, 84, 79);
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.596);
  border-radius: 10px;
  text-align: center;
  font-family: cursive;
  font-size: small;
}

svg {
  border: none;
  margin-top: 30px;
  height: 80px;
  width: 80px;
  margin-left: 100px;
  transform-style: preserve-3d;
  transition: transform 1500ms;
}

svg:hover {
  transform: rotateY(180deg);
}

p {
  display: flex;
  justify-content: center;
}

@media (max-width: 700px) {
  #navbar {
    display: none;
  }
  #navbar_mobile {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  svg {
    margin-top: 20px;
    height: 60px;
    width: 60px;
    margin-left: 50px;
  }
}
